<!DOCTYPE html>
<html>
<head>
  <title>Mm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= link_to 'خروج' , destroy_user_session_path, method: :delete %>
		<% if current_user.profile.present? %>
			<%= link_to current_user.profile.full_name , profile_path(current_user.profile)%>
		<% else %>
			<%= link_to 'پروفایل جدید' , new_profile_path()%>
		<% end %>
		<% if current_user.role.name == 'admin' %>
			<%= link_to 'مدیریت کاربران', dashboard_index_path %>
			<%= link_to 'مدیریت گروه ها', groups_path %>
		<% end %>
	<% end %>

<%= yield %>

</body>
</html>
